@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');




body {
    background: linear-gradient(to right, #f857a6, #ff5858);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}


/* to do list box */

.totalList {
    display: flex;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow:   0 0 5px 0 rgba(0, 0, 0, 0.75);
    background-color: #eeeeee;
    border-radius: 3px;
    max-width: 300px;
}


/* to do list itself */

ol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 240px;
    padding-right: 50px;
}

li {
    text-align: left;
    margin: 3px 0 3px 10px;
    font-size: 14px;
}

i {
    float: right;
    cursor: pointer;
    transition: 0.3s ease;
}

i:hover {
    color: #FF0000;
    transition: 0.3s ease;
}


/* to do list title */

.listTitle {
    text-align: left;
}

#toDoTitle {
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

#toDoSubtitle {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}


/* inputs */

input {
    border: 1px solid #BBBBBB;
    border-radius: 3px;
    color: #666666;
    width: 250px;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}

button {
    background-color: rgba(255, 105, 180, 0.51);
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #EEEEEE;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #ff1493;
    transition: 0.3s ease;
}


/* icons */

.material-icons.md-18 {
    font-size: 16px;
}


@media screen and (min-width: 480px) {



}

@media screen and (min-width: 768px) {



}